<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>song1</key>
	<dict>
		<key>isLullaby</key>
		<true/>
		<key>isVideo</key>
		<false/>
		<key>localPath</key>
		<string>Don't you cry.mp3</string>
		<key>title</key>
		<string>Don't you cry</string>
		<key>url</key>
		<string></string>
	</dict>
	<key>song2</key>
	<dict>
		<key>isLullaby</key>
		<true/>
		<key>isVideo</key>
		<false/>
		<key>localPath</key>
		<string>Come little.mp3</string>
		<key>title</key>
		<string>Come little</string>
		<key>url</key>
		<string></string>
	</dict>
	<key>song3</key>
	<dict>
		<key>isLullaby</key>
		<true/>
		<key>isVideo</key>
		<false/>
		<key>localPath</key>
		<string>Little snowflakes.mp3</string>
		<key>title</key>
		<string>Little snowflakes</string>
		<key>url</key>
		<string></string>
	</dict>
	<key>song4</key>
	<dict>
		<key>isLullaby</key>
		<true/>
		<key>isVideo</key>
		<false/>
		<key>localPath</key>
		<string>Last night.mp3</string>
		<key>title</key>
		<string>Last night</string>
		<key>url</key>
		<string></string>
	</dict>
	<key>song5</key>
	<dict>
		<key>isLullaby</key>
		<true/>
		<key>isVideo</key>
		<false/>
		<key>localPath</key>
		<string>Up and Down.mp3</string>
		<key>title</key>
		<string>Up and Down</string>
		<key>url</key>
		<string></string>
	</dict>
	<key>song6</key>
	<dict>
		<key>isLullaby</key>
		<false/>
		<key>isVideo</key>
		<false/>
		<key>localPath</key>
		<string>Together.mp3</string>
		<key>title</key>
		<string>Together</string>
		<key>url</key>
		<string></string>
	</dict>
	<key>song7</key>
	<dict>
		<key>isLullaby</key>
		<false/>
		<key>isVideo</key>
		<false/>
		<key>localPath</key>
		<string>Peekaboo.mp3</string>
		<key>title</key>
		<string>Peekaboo</string>
		<key>url</key>
		<string></string>
	</dict>
	<key>song8</key>
	<dict>
		<key>isLullaby</key>
		<false/>
		<key>isVideo</key>
		<false/>
		<key>localPath</key>
		<string>Mr Sun.mp3</string>
		<key>title</key>
		<string>Mr Sun</string>
		<key>url</key>
		<string></string>
	</dict>
	<key>song9</key>
	<dict>
		<key>isLullaby</key>
		<false/>
		<key>isVideo</key>
		<false/>
		<key>localPath</key>
		<string>This baby.mp3</string>
		<key>title</key>
		<string>This baby</string>
		<key>url</key>
		<string></string>
	</dict>
	<key>song10</key>
	<dict>
		<key>isLullaby</key>
		<false/>
		<key>isVideo</key>
		<false/>
		<key>localPath</key>
		<string>Truck.mp3</string>
		<key>title</key>
		<string>Truck</string>
		<key>url</key>
		<string></string>
	</dict>
</dict>
</plist>
